<!DOCTYPE html>
<html>
  <head>

    <!-- Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="theme-color" content="#68cfd0">
    <title>Keeper</title>

    <!-- PWA Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    <!-- Javascript -->
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/database.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>

    <!-- Components Definition -->
    <!-- Item Component -->
    <script type="text/x-template" id="item">
      <label>
        <input type="checkbox" v-on:change="saveTick" :checked="elt.checked" />
        <span class="colored">{{ elt.value }}</span>
      </label>
    </script>

    <!-- ToDo List Component -->
    <script type="text/x-template" id="todoList">
      <div class="card">
        <div class="card-content">
          <div class="input-field card-title">
            <input placeholder="Titre de la liste" id="in_title" type="text" v-on:change="updateTitle" v-bind:value="title">
          </div>
          <ul>
            <li v-for="elt in contents" class="min-padding">
              <item v-bind:elt="elt" :elt.sync="elt"></item>
            </li>
            <li>
              <form method="POST" action="#" v-on:submit.prevent="saveNewItem">
                <div class="input-field">
                  <i class="material-icons prefix" v-on:click="saveNewItem">add</i>
                  <input id="in_new_element" type="text" class="validate" autocomplete="off">
                  <label for="in_new_element">Ajouter un élément</label>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </script>

    <!-- List List Component -->
    <script type="text/x-template" id="listeListe">
      <div class="card">
        <div class="card-content">
          <ul>
            <li v-for="elt in contents" class="padding">
              {{ elt }}
            </li>
          </ul>
        </div>
      </div>
    </script>
  </head>
  <body>

    <!-- Header -->
    <nav class="teal accent-3">
      <div class="nav-wrapper valign-wrapper">
        <a href="/" class="material-icons left min-padding">arrow_back</a>
        <span class="brand-logo grey-text text-darken-4">Keeper</span>
      </div>
    </nav>

    <!-- Application Definition -->
    <div id="app" class="padding">
      <div class="padding">
        <button class="waves-effect waves-light btn" v-on:click="saveBtn">Save</button>
        <button class="waves-effect waves-light btn" v-on:click="updateBtn">Update</button>
        <button class="waves-effect waves-light red darken-4 btn right" v-on:click="resetBtn">Reset</button>  
      </div>
      <todo-list v-bind:title="title" v-bind:contents="contents" :title.sync="title"></todo-list>
      <div class="fixed-action-btn left">
        <button class="btn-floating btn-large red" v-on:click="listBefore">
          <i class="large material-icons">navigate_before</i>
        </button>
        <button class="btn-floating btn-large red" v-on:click="listNext">
          <i class="large material-icons">navigate_next</i>
        </button>
      </div>
    </div>


    <!-- Application Script -->
    <script type="text/javascript" src="/js/detailled.js"></script>

  </body>
</html>