<!DOCTYPE html>
<html>
  <head>

    <!-- Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Keeper</title>

    <!-- PWA Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    <!-- Javascript -->
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>

    <!-- Components Definition -->
    <!-- Item Component -->
    <script type="text/x-template" id="item">
      <label>
        <input type="checkbox" v-on:change="saveTick" :checked="elt.checked" />
        <span class="colored">{{ elt.value }}</span>
      </label>
    </script>

    <!-- ToDo List Component -->
    <script type="text/x-template" id="todoList">
      <div class="card">
        <div class="card-content">
          <div class="input-field card-title">
            <input placeholder="Titre de la liste" id="in_title" type="text" v-on:change="updateTitle" v-model="title">
          </div>
          <ul>
            <li v-for="elt in contents" class="padding">
              <item v-bind:elt="elt"></item>
            </li>
            <li>
              <form method="POST" action="#" v-on:submit.prevent="saveNewItem">
                <div class="input-field">
                  <i class="material-icons prefix">add</i>
                  <input id="in_new_element" type="text" class="validate" autocomplete="off">
                  <label for="in_new_element">Ajouter un élément</label>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </script>

  </head>
  <body>

    <!-- Header -->
    <nav class="teal accent-3">
      <div class="nav-wrapper">
        <a href="/index.html" class="brand-logo grey-text text-darken-4">Keeper</a>
      </div>
    </nav>

    <!-- Application Definition -->
    <div id="app" class="padding">
      <todo-list></todo-list>
    </div>


    <!-- Application Script -->
    <script type="text/javascript" src="/js/app.js"></script>

  </body>
</html>